<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="SqlConnection" value="Server=DESKTOP-9VCQ1QD\MYINSTANCE;Database=TresCamadas;User Id=sa;Password=jadeneni;"/>
  </appSettings>
</configuration>